#login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 150px;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.sticky-footer {
  text-align: center;
  padding: 10px 0;
  background-color: rgb(200 200 200);
  position: absolute;
  bottom: 0;
  width: 1000px;
}