.resources {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(198 47 47);
  padding: 25px 0;
}

.resource {
  font-size: 25px;
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
  border: 4px solid gray;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}